@font-face {
    font-family: 'Meerkat-en';
    src: url('../../public/fonts/Meerkat-en.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Meerkat-zh';
    src: url('../../public/fonts/Meerkat-zh.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Segoe-Print-Font';
    src: url('../../public/fonts/Segoe-Print-Font.ttf') format('truetype');
  }
  